@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

#Spacer1{
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/Spacer1.svg');
}
#Spacer2{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/Wave2.svg');
}
#Spacer3{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/Spacer3.svg');
}